* {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333333;
    color: white;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 20px;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
}

a:hover {
    background-color: darkgray;
    font-weight: bold;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: deeppink;
    font-size: 48px;
}

.capitais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #9daaa9;
    font-size: 48px;
    flex-flow: row wrap;
    align-content: baseline;
}

.capitais div {
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    vertical-align: middle;
    justify-content: space-evenly;
    background-color: #b56e62;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vw;
    width: 18vw;
    border-radius: 18vw;
    background-color: deeppink;
    font-size: 48px;
}

#clipped-image {
    position: absolute;
    clip: rect(600px, 650px, 950px, 350px);
    display: none;
}

.hidden-circle:hover {
    color: blue;
    display: none;
}